body {
    background: rgb(52, 58, 64);
}
#roster-table {
    table-layout: fixed;
    width: 100%;
    min-width: 900px;
    background: transparent;
}
/*
    table td:first-child {
    width: 50px;
}*/
#roster-table th, #roster-table td {
    border: 1px solid rgb(52, 58, 64);
    border-collapse: collapse;
    padding: 5px 2px 2px 5px;
    text-align: center;
}
#week-dates th {
    /* font-size: 1.2em; */
    font-weight: normal;
}
