{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Manage Roster</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{% static 'ownerview/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'ownerview/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'ownerview/moment/moment.min.js' %}"></script>
    <script src="{% static 'ownerview/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'ownerview/tableexport/xlsx.core.min.js' %}"></script>
    <script src="{% static 'ownerview/tableexport/FileSaver.min.js' %}"></script>
    <script src="{% static 'ownerview/tableexport/tableexport.min.js' %}"></script>
    <script src="{% static 'ownerview/roster.js' %}"></script>

    <link rel="stylesheet" href="{% static 'ownerview/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'ownerview/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ownerview/roster.css' %}">

    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>

  </head>
  <body>

      {# Navigation Bar #}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Bombay Bar Management</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'ownerview:index' %}">Overview</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'ownerview:roster' %}">Roster<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Payment</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'ownerview:staff_list' %}">Staff</a>
                  </li>
              </ul>
              <span class="navbar-text">
                  Database updated 2 days ago
              </span>
          </div>
      </nav>



    <div id="btns-top-left" style="float: left; margin-left: 8px; margin-top: 0px">
        <button type="button" class="btn btn-primary">Create Event</button>
        <div id="date-btn-group" class="btn-group" role="group" aria-label="Basic example">
            {# <button type="button" class="btn btn-primary" disabled>Change</button> #}
            <div class="btn-group" role="group">
                <button id="mark-date-groupdropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                    Mark
                </button>
                <div class="dropdown-menu" aria-labelledby="mark-date-groupdropdown">
                    <button type="button" class="dropdown-item">Opening Staff</button>
                    <button type="button" class="dropdown-item">Closing Staff</button>
                </div>
            </div>

            <button type="button" class="btn btn-primary" disabled>Reset</button>

        </div>
    </div>

    <div id="btns-top-right" style="float: right; margin-right: 8px; margin-top: 0px">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            {# <button type="button" class="btn btn-light active" data-toggle="button" aria-pressed="true" autocomplete="off">Sort Location</button> #}

            <div class="btn-group" role="group">
                <button id="loc-groupdropdown" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                    All Locations
                </button>
                <div class="dropdown-menu" aria-labelledby="loc-groupdropdown">
                    <button type="button" class="dropdown-item" id="loc-emporium-btn">Emporium Melbourne</button>
                    <button type="button" class="dropdown-item" id="loc-westfield-btn">Westfield Doncaster</button>
                </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            {# <button type="button" class="btn btn-light active" data-toggle="button" aria-pressed="true" autocomplete="off">Sort Location</button> #}

            <div class="btn-group" role="group">
                <button id="export-groupdropdown" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                    Export
                </button>
                <div class="dropdown-menu" aria-labelledby="export-groupdropdown">
                    <button type="button" class="dropdown-item" id="export-xls-btn">Export to XLS</button>
                    <button type="button" class="dropdown-item" id="export-csv-btn">Export to CSV</button>
                </div>
            </div>
        </div>

        <button id="save-btn" type="button" class="btn btn-success">Save</button>
        <button id="edit-btn" type="button" class="btn btn-primary" disabled>Edit</button>
    </div>

    <input type="hidden" id="week-picker"/>

    <table class="noselect" id="roster-table">
        <thead>
        <tr id="week-dates">
            <th>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-light btn-sm" id="prev-week-btn" disabled><span class="ui-icon ui-icon-caret-1-w"></span></button>
                    <button type="button" class="btn btn-light btn-sm" id="week-btn" disabled></button>
                    <button type="button" class="btn btn-light btn-sm" id="next-week-btn" disabled><span class="ui-icon ui-icon-caret-1-e"></span></button>
                </div>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th id="hide-table">
                <button type="button" class="btn btn-secondary btn-sm"><span class="ui-icon ui-icon-pin-w"></span></button>
            </th>

        </tr>
        <tr id="week-days">
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Hours</th>                    
        </tr>
        </thead>

        <tbody>

        {# {% for staff in staff_list %} #}
        {# <tr> #}
        {#   {% if staff.sposition == 1 %} #}
        {#       <td class="staff-cell" data-sid="{{ staff.sid }}"><a href="/staff/{{ staff.sid }}/"><strong>{{ staff.sname }}</strong> <span class="badge badge-warning">Trial</span></a></td> #}
        {#   {% else %} #}
        {#       <td class="staff-cell" data-sid="{{ staff.sid }}"><a href="/staff/{{ staff.sid }}/"><strong>{{ staff.sname }}</strong></a></td> #}
        {#   {% endif %} #}
        {#  #}
        {#   <td class="roster-cell">&nbsp;</td> #}
        {#   <td class="roster-cell">&nbsp;</td> #}
        {#   <td class="roster-cell">&nbsp;</td> #}
        {#   <td class="roster-cell">&nbsp;</td> #}
        {#   <td class="roster-cell">&nbsp;</td> #}
        {#   <td class="roster-cell">&nbsp;</td> #}
        {#   <td class="roster-cell">&nbsp;</td> #}
        {#   <td class="hours-cell"></td> #}
        {# </tr> #}
        {# {% endfor %} #}

        </tbody>

      </table>

  </body>
</html>
