{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Roster | Bombay Bar Management</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{% static 'ownerview/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'ownerview/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script>

        $(document).ready(function()
        {
            // Highlight current day column
            if ({{ day_of_week }}) {
                var targetIndex, elements;
                targetIndex = $("th, td").index() + 1 + {{ day_of_week }};
                elements = $("th, td");
                elements.filter(":nth-child(" + targetIndex + ")").css("background-color", "rgba(255, 255, 255, 0.7)");
                {# elements.filter(":nth-child(" + targetIndex + ")").css("background-color", "rgba(0, 123, 255, 0.7)"); #}
                {# elements.filter(":nth-child(" + targetIndex + ")").css("background-color", "rgba(220, 53, 69, 0.5)"); #}
                elements.filter(":nth-child(" + targetIndex + ")").css("color", "black");
                {# elements.filter(":nth-child(" + targetIndex + ")").css("border", "none"); #}
            }

            // Highlight mouseover row
            $("table td:first-child").mouseover(function()
            {
                var targetIndex, elements;
                targetIndex = $(this).closest("tr").index() + 1;
                elements = $("tr");
                {# elements.filter(":nth-child(" + targetIndex + ")").css("background-color", "rgba(220, 53, 69, 1)"); #}
                elements.filter(":nth-child(" + targetIndex + ")").css("background-color", "rgba(0, 123, 255, 1)");


                var cell = $(this).closest("tr").find("td:eq({{ day_of_week }})");
                cell.css("background-color", "rgba(0, 123, 255, 1)");
                cell.css("color", "white");
            });
            // Highlight only when mouseover first row
            $("table td:not(:first-child)").mouseover(function()
            {
                var targetIndex, elements;
                targetIndex = $(this).closest("tr").index() + 1;
                elements = $("tr");
                {# elements.filter(":nth-child(" + targetIndex + ")").css("background-color", "rgba(220, 53, 69, 1)"); #}
                elements.filter(":nth-child(" + targetIndex + ")").css("background-color", "rgba(255, 255, 255, 0.1)");


                var cell = $(this).closest("tr").find("td:eq({{ day_of_week }})");
                cell.css("background-color", "rgba(255, 255, 255, 0.8)");
                cell.css("color", "black");
            });
            // Reset styles
            $("table tr").mouseleave(function()
            {
                $("tr").css("background-color", "transparent");

                var cell = $(this).closest("tr").find("td:eq({{ day_of_week }})");
                cell.css("background-color", "rgba(255, 255, 255, 0.7)");
                cell.css("color", "black");
            });
        });

    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'ownerview/bootstrap/css/bootstrap.min.css' %}">

    <style>
      body {
        background: rgb(52, 58, 64);
      }
      table {
        table-layout: fixed;
        width: 100%;
        min-width: 900px;
        background: transparent;
      }
      /*
      table td:first-child {
        width: 50px;
      }*/
      table, th, td {
        border: 1px solid rgb(52, 58, 64);
        border-collapse: collapse;
      }
      th, td {
        padding: 5px 2px 2px 5px;
        text-align: center;
      }
    </style>

  </head>
  <body>

      {# Navigation Bar #}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Bombay Bar Management</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'ownerview:index' %}">Overview</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'ownerview:roster' %}">Roster<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Payment</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'ownerview:staff' %}">Staff</a>
                  </li>
              </ul>
              <span class="navbar-text">
                  Database updated 2 days ago
              </span>
          </div>
      </nav>


    {% if staff_list %}

    <div style="float: right; margin-right: 8px; margin-top: 5px">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            {# <button type="button" class="btn btn-light active" data-toggle="button" aria-pressed="true" autocomplete="off">Sort Location</button> #}

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Export to PDF</a>
                    <a class="dropdown-item" href="#">Export to CSV</a>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-primary">Edit</button>
    </div>

    <table id="roster-table" style="margin-top: 55px">
        <tr>
            <td style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-light btn-sm"><</button>
                    <button type="button" class="btn btn-light btn-sm">Week</button>
                    <button type="button" class="btn btn-light btn-sm">></button>
                </div>
            </td>
            
            
        {% for days in days_list %}
            <td style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white">{{ days|date:"j M"}}</td>
        {% endfor %}
            <td style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white"></td>

        </tr>
        <tr>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px"><span class="badge badge-pill badge-danger">Emporium Melbourne</span></th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px">Monday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px">Tuesday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px">Wednesday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px">Thursday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px">Friday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px">Saturday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px">Sunday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 10px">Hours</th>                    
        </tr>

        {% for staff in staff_list %}
        <tr>
          {% if staff.sposition == 1 %}
              <td style="background: transparent; color: white; text-align: left; border-color: transparent;"><a style="color: white" href="/staff/{{ staff.sid }}/"><strong>{{ staff.sname }}</strong> <span class="badge badge-warning">Trial</span></a></td>
          {% else %}
              <td style="background: transparent; color: white; text-align: left; border-color: transparent;"><a style="color: white" href="/staff/{{ staff.sid }}/"><strong>{{ staff.sname }}</strong></a></td>
          {% endif %}


          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(110, 110, 110, 0.3); color: white;">0.0</td>
          {# <td style="background: rgb(0, 123, 255); color: white;">0.0</td> #}
        </tr>
        {% endfor %}

        <tr>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px"><span class="badge badge-pill badge-danger">Westfield Doncaster</span></th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px">Monday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px">Tuesday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px">Wednesday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px">Thursday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px">Friday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px">Saturday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px">Sunday</th>
            <th style="background: rgb(52, 58, 64); border-color: rgb(52, 58, 64); color: white; padding-top: 30px">Hours</th>                    
        </tr>

        {% for staff in staff_list %}
        <tr>
          {% if staff.sposition == 1 %}
              <td style="background: transparent; color: white; text-align: left; border-color: transparent;"><a style="color: white" href="/staff/{{ staff.sid }}/"><strong>{{ staff.sname }}</strong> <span class="badge badge-warning">Trial</span></a></td>
          {% else %}
              <td style="background: transparent; color: white; text-align: left; border-color: transparent;"><a style="color: white" href="/staff/{{ staff.sid }}/"><strong>{{ staff.sname }}</strong></a></td>
          {% endif %}

          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(255, 255, 255, 0.2); color: white;">x</td>
          <td style="background: rgba(110, 110, 110, 0.3); color: white;">0.0</td>
          {# <td style="background: rgb(0, 123, 255); color: white;">0.0</td> #}
        </tr>
        {% endfor %}



      </table>

    {% else %}
        <p>No staff are available.</p>
    {% endif %}
  </body>
</html>
