{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Manage Staff</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{% static 'ownerview/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'ownerview/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'ownerview/moment/moment.min.js' %}"></script>
    <script src="{% static 'ownerview/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'ownerview/staff.js' %}"></script>

    <link rel="stylesheet" href="{% static 'ownerview/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'ownerview/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ownerview/staff.css' %}">

  </head>
  <body>

      {# Navigation Bar #}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Bombay Bar Management</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'ownerview:index' %}">Overview</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'ownerview:roster' %}">Roster<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Payment</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'ownerview:staff_list' %}">Staff</a>
                  </li>
              </ul>
              <span class="navbar-text">
                  Database updated 2 days ago
              </span>
          </div>
      </nav>



    <div id="buttons-top-left" style="float: left; margin-left: 8px; margin-top: 0px">
        {# <button type="button" class="btn btn-secondary">Test</button> #}
    </div>

    <div id="buttons-top-right" style="float: right; margin-right: 8px; margin-top: 0px">
        <button id="save-btn" type="button" class="btn btn-success">Save</button>
        <button id="edit-btn" type="button" class="btn btn-primary" disabled>Edit</button>
    </div>

    <table>
        <tr><td>ID:</td><td>{{ staff.sid }}</td></tr>
        <tr><td>Name:</td><td>{{ staff.sname }}</td></tr>
        <tr><td>Payrate:</td><td>${{ staff.spayrate }}</td></tr>
        <tr><td>Fixed Payrate:</td><td>{{ staff.spayfixed }}</td></tr>
        <tr><td>Position:</td><td>{{ staff.sposition }}</td></tr>
        <tr><td>Notes:</td><td>{{ staff.snote }}</td></tr>
    </table>


  </body>
</html>
